@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@200;300&family=Roboto:wght@300;400;500;600;700&display=swap"); /* Global style */

/* Global HTML element styles */

html,
body,
ul,
li,
menu,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  margin: 0;
  padding: 0;
}

* {
  font-family: Roboto, san-serif;
  font-weight: 300;
  box-sizing: border-box;
}

strong,
b {
  font-weight: 600;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7 {
  font-family: Maitree, serif;
}

h1,
.h1 {
  font-size: 4.5rem;
}

h2,
.h2 {
  font-size: 3.5rem;
}

h3,
.h3 {
  font-size: 2.5rem;
}

h4,
.h4 {
  font-size: 2rem;
}

h5,
.h5 {
  font-size: 1.5rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.h7 {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global classes */

.text-1 {
  font-size: 4.5rem;
}
.text-2 {
  font-size: 3.5rem;
}
.text-3 {
  font-size: 2.5rem;
}
.text-4 {
  font-size: 2rem;
}
.text-5 {
  font-size: 1.5rem;
}
.text-6 {
  font-size: 1rem;
}
.text-7 {
  font-size: 0.75rem;
}

.weight-400 {
  font-weight: 400;
}

.max-width {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1000px) {
  .max-width {
    padding: 0 50px;
  }
}

/* Global variables */
