@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@200;300&family=Roboto:wght@300;400;500;600;700&display=swap"); /* Global style */

/* Global HTML element styles */

html,
body,
ul,
li,
menu,
h1,
h2,
h3,
h4,
h5,
h6,
div,
figure {
  margin: 0;
  padding: 0;
}

* {
  font-family: Roboto, san-serif;
  font-weight: 300;
  box-sizing: border-box;
}

strong,
b,
.bold {
  font-weight: 600;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header styles */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7 {
  font-family: Maitree, serif;
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h3,
.h3 {
  font-size: 2rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.75rem;
}

.h7 {
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 4.5rem;
  }
  h2,
  .h2 {
    font-size: 3.5rem;
  }

  h3,
  .h3 {
    font-size: 2.5rem;
  }

  h4,
  .h4 {
    font-size: 2rem;
  }
}

/* Global classes */

.text-1 {
  font-size: 4.5rem;
}
.text-2 {
  font-size: 3.5rem;
}
.text-3 {
  font-size: 2.5rem;
}
.text-4 {
  font-size: 2rem;
}
.text-5 {
  font-size: 1.5rem;
}
.text-6 {
  font-size: 1rem;
}
.text-7 {
  font-size: 0.75rem;
}

.weight-400 {
  font-weight: 400;
}

/* Global variables */
